@page "/users/logout"
@inject IAuthenticationService _authenticationService
@inject NavigationManager _navigationManager
<h3>Logout</h3>

@code {
    protected async override void OnInitialized()
    {
        await _authenticationService.Logout();
        _navigationManager.NavigateTo("/");
    }
}
